{
  "presets": [
    "es2015",
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-flow-strip-types",
    "babel-plugin-dynamic-import-node",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}